---
interface Props {
	title: string;
}

import SpeedInsights from '@vercel/speed-insights/astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>

    <script is:inline>
      function speedInsightsBeforeSend(data){
        console.log("Speed Insights before send", data)
        return data;
      }
    </script>
    <SpeedInsights />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
      background-color: #032030;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: 'JetBrains Mono', monospace;
    }

    a {
      font-size: 18px;
      color: white;
      text-decoration: none;
      margin: 0 18px;
	    font-weight: 900;
    }

    a:hover {
      text-decoration: underline;
    }
</style>
